.navbar{
    margin: 2em;
    padding-left: 50px;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: #fff;
    font-family: 'Blinker', sans-serif;
    display: flex;
    justify-content: space-between;
    
    .navbar-items{
        margin: 1em;
        font-weight: 600;
            
        ul{
            display: flex;
            li{
                padding-right: 50px;
                list-style: none;
                text-decoration: none;

                .navbar-link {
                  text-decoration: none;
                  color: #fff;
                }
            }
        }  
    }
}